{% extends 'base.html' %}
{% block content %}
<h1>{{web}}</h1>
<h2>Nama : {{fullname}}</h2>
<h2>NPM : {{npm}}</h2>


<h5>nama: </h5>
<p>{{name}}</p>
<h5>harga: </h5>
<p>{{price}}</p>
<h5>description: </h5>
<p>{{description}}</p>
<h5>rating fungsionalitas: </h5>
<p>{{rating}}</p>
<img src="{{image}}">

{% if not material_entries %}
<p>Belum ada data material pada e-daur.</p>
{% else %}
<table>
  <tr>
    <th>Material Name</th>
    <th>Time</th>
    <th>Item</th>
    <th>Material Quantity</th>
    <th>Item Quantity</th>
    <th>Notes</th>
  </tr>

  {% comment %} Berikut cara memperlihatkan data material di bawah baris ini
  {% endcomment %}
  {% for material_entry in material_entries %}
  <tr>
    <td>{{material_entry.material}}</td>
    <td>{{material_entry.time}}</td>
    <td>{{material_entry.item}}</td>
    <td>{{material_entry.material_quantity}}</td>
    <td>{{material_entry.item_quantity}}</td>
    <td>{{material_entry.notes}}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

<br />

<a href="{% url 'main:create_material_entry' %}">
  <button>Add New Material Entry</button>
</a>
{% endblock content %}