{% extends 'base.html' %}
{% block content %}
<h1>{{web}}</h1>
<h2>Nama : {{fullname}}</h2>
<h2>NPM : {{npm}}</h2>


<h5>username: </h5>
<p>{{name}}</p>
<h5>item name: </h5>
<p>{{item_name}}</p>
<h5>harga: </h5>
<p>{{price}}</p>
<h5>description: </h5>
<p>{{description}}</p>
<h5>rating fungsionalitas: </h5>
<p>{{rating}}</p>
<img src="{{image}}">

{% if not material_entries %}
<p>Belum ada data material pada e-daur.</p>
{% else %}
<table>
  <tr>
    <th>Nama</th>
    <th>Time</th>
    <th>Harga</th>
    <th>Deskripsi</th>
  </tr>

  {% comment %} Berikut cara memperlihatkan data material di bawah baris ini
  {% endcomment %}
  {% for material_entry in material_entries %}
  <tr>
    <td>{{material_entry.nama}}</td>
    <td>{{material_entry.time}}</td>
    <td>{{material_entry.harga}}</td>
    <td>{{material_entry.deskripsi}}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

<br />

<a href="{% url 'main:create_material_entry' %}">
  <button>Add New Material Entry</button>
</a>

<a href="{% url 'main:logout' %}">
  <button>Logout</button>
</a>

<h5>Sesi terakhir login: {{ last_login }}</h5>

{% endblock content %}